doctype html
html
  head
    meta(charset="UTF-8")
    title Welcome Email
  body
    h2 Hello #{name} 👋
    p You have required to reset password because your forgot pasword!
    p Please enter otp into form on our website below:
    strong #{otp}
    br
    br
    small If you did not request this email, you can safely ignore it.
