doctype html
html
  head
    meta(charset="UTF-8")
    title Welcome Email
  body
    h2 Hello #{name} 👋
    p Thanks for signing up for MyApp!
    p Please activate your account using the link below:
    a(href=activeLink) Activate Account
    br
    br
    small If you did not request this email, you can safely ignore it.
